Hey!

<ul>
  <li><%= live_redirect("Feed", to: Routes.live_path(@socket, Minisome.Web.Live.Feed)) %></li>
  <li><%= live_redirect("Posting", to: Routes.live_path(@socket, Minisome.Web.Live.Posting)) %></li>
  <li><%= live_redirect("Key testing", to: Routes.live_path(@socket, Minisome.Web.Live.Signing)) %></li>
</ul>

<%= for post <- @posts do %>
  <Minisome.Web.Components.Post.my post={post} />
<% end %>
